#MONGODB=mongodb://localhost:27017/nest-pokemon
MONGODB=mongodb+srv://pgp29988_db_user:$3lfM4stery@123@mongodbcluster.tfnggwy.mongodb.net/
PORT=3000
DEFAULT_LIMIT=10

user: pgp29988_db_user
password: $3lfM4stery@123